/* line 1, ../../app/stylesheets/default.sass */
body {
  padding: 2em;
}

/* line 4, ../../app/stylesheets/default.sass */
#interview-document {
  font-family: monospace;
  background-color: #dddddd;
  width: 600px;
  height: 250px;
  overflow: auto;
}

/* line 11, ../../app/stylesheets/default.sass */
.chat-out {
  height: 250px;
  overflow: auto;
}

/* line 15, ../../app/stylesheets/default.sass */
.clearfix {
  clear: both;
}

/* line 18, ../../app/stylesheets/default.sass */
#public-chat {
  float: left;
  width: 48%;
  background-color: #dddddd;
}

/* line 23, ../../app/stylesheets/default.sass */
#private-chat {
  float: right;
  width: 48%;
  background-color: #dddddd;
}
