body
  padding: 2.0em

#interview-document
  font-family: monospace
  background-color: #ddd
  width: 600px
  height: 250px
  overflow: auto

.chat-out
  height: 250px
  overflow: auto

.clearfix
  clear: both

#public-chat
  float: left
  width: 48%
  background-color: #ddd

#private-chat
  float: right
  width: 48%
  background-color: #ddd
